html,
body {
    /*width: 100%;
  height: 100%;
      overflow-y: hidden;*/
}

html {
    /* overflow: hidden;*/
}

body {
    background-color: snow;

    word-wrap: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arimo, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1em;
    font-weight: 200;
    color: #000000;

    display: flex;
    margin: 0;
    padding: 0;
}

.editable {
    display: block;
    max-width: 200px;
}

.ce,
#cec,
#cet {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arimo, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    line-height: 1.4em;
    font-weight: 200;
    color: #000000;
    outline: none;
    clear: both;
}

.ce pre,
#cec pre {
    white-space: pre-wrap;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#cecard_create {
    z-index: 1;
    min-height: 40px;
    margin-bottom: 6px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFFFFF;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    bottom: 44px;
}

.default_text {
    left: 30px;
    position: fixed;
    bottom: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable_edit {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: red;
}

#cet {
    font-size: 2.4rem;
}

#hidden_input_container {
    overflow: hidden;
    position: fixed;
    left: 0px;
    bottom: 0;
    height: 0;
    width: 0;
    background-color: red;
}

#hidden_input {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0;
    height: 50px;
    padding: 0;
    border: 0;
    background-color: blue;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;
}

.ce pre,
#cec pre {
    margin-bottom: -5px;
    margin-top: 0px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
}

.resize-drag {
    vspace: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    display: block;
    max-width: calc(100% + 2.7em);
    position: relative;
    left: -1.35em;
    border-top-color: rgb(230, 230, 230);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-width: 1px;
}

.resize-container {
    width: 100%;
    height: 100%;
}

.input-group {
    clear: both;
}

br {
    clear: both;
}

b,
strong {
    font-weight: 600;
}

h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    clear: both;
}

.h1,
h1 {
    font-size: 24px;
    font-weight: 600;
}

.h2,
h2 {
    font-size: 22px;
    font-weight: 600;
}

.h3,
h3 {
    font-size: 20px;
    font-weight: 600;
}

.h4,
h4 {
    font-size: 18px;
    font-weight: 600;
}

.h5,
h5 {
    font-size: 16px;
    font-weight: 600;
}

.h6,
h6 {
    font-size: 14px;
    font-weight: 600;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border: 0;
    height: 2px;
    background-image: url("/assets/images/hr9.png");
    width: 100%;
}

.header_text {
    font-kerning: 1pt;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin-top: 11px;
    margin-left: 0px;
    color: #000000;
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo {
    margin-right: 9px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
}

form.form-horizontal.ng-pristine.ng-valid {
    display: inline;
}

input#search_input {
    display: inline;
    width: 50%;
    height: 28px;
}

hr#footer {
    margin-bottom: 6px;
}

form.form-horizontal.ng-valid.ng-dirty.ng-valid-parse {
    display: initial;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.username,
.status {
    word-wrap: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arimo, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    line-height: 1.6em;
    font-weight: 600;
    color: #000000;
}

.status {
    float: left;
}

.username.ng-binding {
    color: darkslategrey;
    float: left;
    margin-right: 5px;
}

.edit {
    float: right;
}

div#user {
    float: left;
    width: 100%;
}

.header hr {
    margin-bottom: 0px;
}




/* EDIT MENU */


/* Dropdown Button */

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}




/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {}



/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}



/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.material-icons {
    font-size: 21px;
}

#mi-more_vert {
    margin-top: 2px;
}



/* Links inside the dropdown */

.dropdown-content div {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

input#upload-input,
.upload-trigger {
    position: absolute;
    left: -1000px;
}

a.btn.btn-block.btn-social.btn-google {
    width: 200px;
}

button.btn.btn-block.btn-social.btn-google {
    width: 200px;
}

.btn-social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-body {
    margin-top: 100px;
}

#mi-account_circle {
    margin-right: 15px;
    margin-top: 13px;
}

.user {
    float: right;
}

.username2 {
    float: right;
    position: relative;
    margin-top: 14px;
    margin-right: 15px;
    text-align: right;
    align-items: right;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.ng-binding {
    overflow: hidden;
    margin-bottom: -1px;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.ng-binding {
    vertical-align: middle;
}

.btn-adduser {
    float: right;
}

#contacts_cb {
    float: right;
}

#conversations_badge {
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100px;
}

.badge {
    background-color: olivedrab;
}

#conversation_part {
    margin-bottom: 6px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFFFFF;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
}

#time {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: darkslategray;
    font-weight: 500;
}

#conv_div {
    cursor: pointer;
}

#conv_usr_img {
    width: 40px;
    height: 40px;
    background-color: #fafafa;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
    border-radius: 1;
    border-color: tomato;
    border: .7px solid #9E9E9E;
    margin-top: 2px;
}

#convs_name {
    color: darkslategrey;
    font-weight: 600;
}

li.list-group-item.d-flex.justify-content-between.align-items-center {
    border-color: #e6e6e6;
    border-width: 1px;
    border-width: ;
    margin-bottom: -1px;
}

.convs_new {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -35px;
}

.convs_container {
    width: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: max-content auto max-content;
    grid-auto-columns: min-content;
    grid-auto-columns: max-content;
    grid-auto-columns: auto;
    grid-auto-columns: fit-content(100%);
    grid-auto-rows: min-content;
    grid-auto-rows: max-content;
    grid-auto-rows: auto;
}

.convs_a {
    grid-column: 1;
    grid-row-end: span 2;
}

.convs_b {
    grid-column: 2;
    grid-row: 1;
}

.convs_c {
    grid-column: 3;
    grid-row: 1;
    margin-left: auto;
}

.convs_d {
    grid-column: 2;
    grid-row: 2;
}

.convs_e {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
}

.create_container {
    width: 100%;

    /*display: grid;*/
    display: flex;

    align-items: center;

    -webkit-column-gap: 0px;

    grid-gap: 0px;
    grid-template-columns: max-content auto max-content;
    grid-auto-columns: min-content;
    grid-auto-columns: max-content;
    grid-auto-columns: auto;
    grid-auto-columns: fit-content(100%);
    grid-auto-rows: min-content;
    grid-auto-rows: max-content;
    grid-auto-rows: auto;
    background-color: snow;
    border-top-color: #d6d6d6;
    border-top-style: solid;
    border-top-width: 0.5px;
    max-height: calc(50vh);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1px;
}

.create_a {
    grid-column: 1;
    grid-row: 1;
    width: calc(100vw - 75px);
    padding-top: 5px;
}

.create_a_input {
    grid-column: 1;
    grid-row: 1;
    width: calc(100vw - 130px);
}

.create_b {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding-left: 4px;
    padding-top: 3px;
    align-self: flex-start;
}

.create_c {
    grid-column: 3;
    grid-row: 1;
    padding-left: 6px;
    padding-top: 3px;
    align-self: flex-start;
}

.create_c_no_input {
    width: 0vw;
}

.create_c_input {
    width: 75px;
    opacity: 1;
    color: darkgreen;
    text-align: left;
    padding-left: 2px;
}

.create_d {
    grid-column: 2;
    grid-row: 2;
}

.create_e {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
}

.mi_send_no_input{
        color: white;
    font-size: 26px;
    display: inline-block;
    border-radius: 100px;
    border-style: solid;
    background-color: darkgreen;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 15px;
}

.mi_send_input{

    margin-left: 0px;
    
}



.transition {
    -webkit-transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.transition_2 {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}

.list-group-item {
    padding: .7rem .9rem;
}

#mi-search {
    margin-left: 15px;
    margin-top: 7px;
}

#mi-send {
    color: white;
    font-size: 26px;
    /*display: inline-block;*/
    border-radius: 100px;
    border-style: solid;
    background-color: darkgreen;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.mi-photo_camera {
    color: white;
    display: inline-block;
    border-radius: 100px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mi-photo_camera_unfocused {
    background-color: lightgrey;
    font-size: 24px;
    cursor: default;
}

.mi-photo_camera_focused {
    background-color: darkgreen;
    font-size: 26px;
    cursor: pointer;
}

.container_cnv {
    position: fixed;
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
}

.content_cnv {
    width: 100vw;
    overflow-y: auto;
    height: calc(100%);
    border-radius: 1px;
}

.header {
    z-index: 1000;
    top: 0;
    background-color: #FFFFFF;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6e6e6;
}

.footer {
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: #FFFFFF;
}

.content_cnv_android::-webkit-scrollbar {}


.content_cnv_android::-webkit-scrollbar-thumb {
    background-color: #b0fccd;
    border-radius: 10px;
}

.reset_height {
    height: 0px;
}

#placeholderDiv {
    position: absolute;
    min-height: 40px;
    margin-bottom: 6px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 11px;
    padding-bottom: 9px;
    bottom: 49px;
    -webkit-user-select: none;
    /* Chrome 49+ */
    -moz-user-select: none;
    /* Firefox 43+ */
    -ms-user-select: none;
    /* No support yet */
    user-select: none;
    /* Likely future */
    cursor: text;
}

span#scroll_latest_footer {
    display: inline-block;
    width: 0px;
}

span#scroll_image_latest {
    display: inline-block;
    width: 0px;
}