<div ng-controller="cardsearchCtrl">
    <hr id="footer">
    <span id="search_icon" class="glyphicon glyphicon-search" ng-click="search_icon()"></span>
    <a href="/c/create_card"><span id="create_icon" class="glyphicon glyphicon-plus"></span></a>
    <form class="form-horizontal">
        <input id="search_input" class="form-control" type="text" ng-model="input" ng-show="showDiv">
        <button id="search_button" type="submit" class="btn btn-sm btn-warning" ng-show="showDiv" ng-click="searchCard(input)">Search</button>
        <a href="/logout">Logout</a>
        <a href ng-click="changePath('/c/contacts')">Contacts</a>
        <a href ng-click="changePath('/chat/conversations')">Conversations</a>
    </form>
</div>