<div ng-controller="cardCtrl">
    <div ng-repeat="card in cards">
        <form class="form-horizontal">
            <div class="input-group">
                <!--<div id="cet" contenteditable="true" ng-change="contentChanged(card.title, 'cet')" ng-keydown="checkKey($event,'ce'+card._id)" ng-paste="handlePaste($event)" ng-focus="getFocus(card.title)" ng-model="card.title">
                </div>-->
                <div class="input-group">
                    <div class='ce' ng-attr-id="{{ 'ce' + card._id }}" contenteditable="true" ng-change="contentChanged(card.content, 'ce'+card._id)" ng-keydown="checkKey($event,'ce'+card._id)" ng-paste="handlePaste($event)" ng-focus="getFocus(card.content); keyListen('ce'+card._id)" ng-model="card.content" ng-model-options="{ debounce: 1000 }">
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="card.user">
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="card.lang">
                    </div>
                    <button type="submit" class="btn btn-sm btn-warning" ng-click="deleteCard(card._id)">Delete</button>
                    <button type="submit" class="btn btn-sm btn-success btn-pair-right" ng-click="updateCard(card._id, card)">Update</button>
                    <!-- Hidden input field which gains focus while text formatting is being prepared -->
                    <div id="hidden_input_container">
                        <input class="form-control" type="text" autocorrect="off" autocapitalize="none" id="hidden_input">
                    </div>
                    <!-- -->
                    <input id="file-input" type="file" name="name" ng-click="choosePhoto()" />
                    <div id="test">empty</div>
                    <!--
                    <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
                        <input type="file" name="userPhoto" multiple />
                        <input type="submit" value="Upload Image" name="submit">
                        <input type='text' id='random' name='random'>
                        <br>
                        <span id="status">waiting...</span>
                    </form>
                    -->
                    <!--
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="input-group">
                            <input class="form-control" type="file" ng-model="input">
                            <input accept="image/*" name="file" ng-value="fileToUpload" value="{{fileToUpload}}" file-model="fileToUpload" set-file-data="fileToUpload = value;" type="file" id="my_file" />
                             <input type="file" ng-file-select="onFileSelect($files)">
                        </div>
                        <button type="submit" class="btn btn-sm btn-warning" ng-click="uploadPhoto(fileToUpload)">Upload</button>
                    </form>
                    -->
                     <input type="file" file-model="myFile" />
                    <button ng-click="uploadFile()">upload me</button>

        </form>
        </div>

        </div>