<div ng-controller="cardcreateCtrl">
    <div class="create_container">
        <div class="create_a transition" ng-class="{'create_a_input': input}">
            <div class='ce' ng-attr-id="{{ 'ce' + card_create._id }}" contenteditable="true" ng-attr-editable="true" ng-change="contentChanged(card_create.content, 'ce'+card_create._id)" ng-keydown="checkKey($event,'ce'+card_create._id);" ng-keyup="checkCursor($event,'ce'+card_create._id)" ng-click="checkCursor($event,'ce'+card_create._id)" ng-paste="handlePaste($event)" ng-focus="keyListen('ce'+card_create._id); checkCursor($event,'ce'+card_create._id)" ng-model="card_create.content" ng-model-options="{ debounce: 1000 }"></div>
            <div id="placeholderDiv"></div>
        </div>
        <div class="create_b">
            <i class="material-icons mi-photo_camera mi-photo_camera_unfocused  transition_2" ng-class="{ 'mi-photo_camera_focused': focused}" ng-mouseover="checkFocus()" ng-click="media()">&#xE412;</i>
        </div>
        <div class="create_c create_c_no_input transition" ng-class="{ 'create_c_input': input}">
            <i class="material-icons  mi_send_no_input" ng-class="{ 'mi_send_input': input}" id="" ng-click="createCard(card_create._id, card_create)">&#xE163;</i>
        </div>
        <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
        <button ng-attr-id="{{ 'upload-triggerce' + card_create._id }}" class="btn btn-sm upload-btn upload-trigger" type="button" ng-click="uploadFile(card_create._id, card_create, currentUser)">Upload File</button>
    </div>
</div>