<div class="container-fluid" id="conversation_container">
    <div ng-controller="cardCtrl">
        <div id="conversation_card" ng-repeat="card in cards | orderBy :'updatedAt' : false"">
            <div class=" resize-container" id="conversation_part">
                <form class="form-horizontal">
                    <div id="user">
                        <div class="username">{{card.user_name}}</div>
                        <div class="edit">
                            <div class="dropdown" ng-attr-id="{{ 'cem' + card._id }}">
                                <div ng-click="dropDownToggle('cem'+card._id)" class="dropbtn"><span class="glyphicon glyphicon-option-vertical"></span></div>
                                <div ng-attr-id="myDropdown{{ 'cem' + card._id }}" class="dropdown-content">
                                    <div ng-click="updateCard(card._id, card)">Update</div>
                                    <div ng-click="deleteCard(card._id)">Delete</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ce' ng-attr-id="{{ 'ce' + card._id }}" contenteditable="true" ng-change="contentChanged(card.content, 'ce'+card._id)" ng-keydown="checkKey($event,'ce'+card._id)" ng-paste="handlePaste($event)" ng-focus="getFocus(card.content); keyListen('ce'+card._id)" ng-model="card.content" ng-model-options="{ debounce: 1000 }">
                    </div>
                    <time am-time-ago="card.updatedAt" id="time"></time>
                    <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
                    <button id="upload-trigger" class="btn btn-sm upload-btn" type="button" ng-click="uploadFile()">Upload File</button>
                </form>
            </div>
        </div>
    </div>
</div>