<div class="container_cnv">
    <div class="header_container" ng-include="'/views/header_contacts.html'"></div>
    <div class="contacts_container" ng-class="{ 'contacts_container_on': contacts_on}">
        <!---->
        <!---->
        <!-- IMPORT -->
        <!---->
        <!---->
        <div class="content_conv_import contacts_transition" ng-class="{ 'content_conv_import_100': contacts_sel, 'content_conv_import_200': search_sel, 'content_conv_import_hide': search_back}">
            <div class="invite_div" ng-class="{ 'invite_div_off': invite_selected}" ng-click="invite_selected || selectInvite()">
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container contacts_invite_container contacts_transition" ng-class="{'contacts_invite_container_on': invite_selected}">
                        <div class="convs_a">
                            <i class="material-icons convs_avatar mi-person_add" id="" ng-class="{'mi-person_add_grey': invite_selected}">&#xE7FE;</i>
                        </div>
                        <div class="convs_col_a">
                            <div class="contacts_create_header">INVITE CONTACT</div>
                        </div>
                        <div class="convs_col_b">
                            <div class="contacts_search_input">
                                <form name="myForm">
                                    <input type="email" name="input" placeholder=" Type email..." id="email_addr" class="contacts_search_group" ng-model="invite_input" onclick="inputClicked(event)" ng-pattern="/^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$/" noncapitalize required>
                                </form>
                            </div>
                            <div class="valid_email">
                                <div class="email_feedback transition_500" ng-class="{'email_feedback_sent': invite_sent}">
                                    Invite sent!
                                </div>
                                <!--
                                <div role="alert">
                                    <span class="error" ng-show="myForm.input.$error.required"></span>
                                    <span class="error" ng-show="myForm.input.$error.email"></span>
                                </div>
                                -->
                                <div class="header_decide">
                                    <div class="header_accept">
                                        <a href="" ng-click="!myForm.input.$valid || inviteUser(invite_input)"><i class="material-icons mi-done_group" ng-class="{'mi-done_group_on': myForm.input.$valid}" id="">&#xE876;</i></a>
                                    </div>
                                    <div class="header_cancel">
                                        <a href="" ng-click="cancelInvite($event)"><i class="material-icons" id="mi-clear">&#xE14C;</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="invite_div" ng-class="{ 'invite_div_off': invite_selected}" id="import_contacts" ng-click=" importContacts()" ng-show="!contacts_imported">
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container contacts_search_container">
                        <div class="convs_a">
                            <i class="material-icons convs_avatar mi-import_contacts" id="" ng-class="{'mi-import_contacts_grey': group_selected}">&#xE0E0;</i>
                        </div>
                        <div class="convs_col_a transition_100" ng-class="{'convs_col_a_on': group_selected}">
                            <div class="contacts_search_header transition_4" id="group_namex" ng-class="{'contacts_search_header_top_on': group_selected}">IMPORT CONTACTS</div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="invite_div invite_div_off" ng-show="contacts_imported">
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container_small_btn">
                        <div class="convs_a_small">
                            <i class="material-icons convs_avatar_small mi-import_contacts_small" id="" ng-class="{'mi-import_contacts_grey': group_selected}">&#xE0E0;</i>
                        </div>
                        <div class="convs_col_a_header">
                            <div class="contacts_search_header">GOOGLE CONTACTS</div>
                        </div>
                    </div>
                </li>
            </div>
            <!---->
            <!-- SCROLLABLE IMPORTED CONTACTS -->
            <!---->
            <div class="content_import_scroll" ng-class="{'content_import_scroll_contacts': contacts_imported, 'content_import_scroll_contacts_off': contacts_imported && animating, 'content_import_scroll_contacts_invite_on_not_imported': invite_selected && !contacts_imported, 'content_import_scroll_contacts_invite_on_imported': invite_selected && contacts_imported}">
                <div ng-repeat="contact in user_contacts | orderBy:['name','email'] | emptyToEnd:'name'">
                    <div class="contact_div">
                        <li class="list-group-item d-flex justify-content-between align-items-center imported_contacts_list">
                            <div class="convs_container_small">
                                <div class="convs_col_a">
                                    <div class="convs_b" id="invite_name">{{contact.name != '' ? contact.name : contact.email }}</div>
                                    <div class="convs_d" id="invite_email">{{contact.name == '' ? '' : contact.email}}</div>
                                </div>
                                <div class="convs_col_b_import">
                                    <div class="search_add_user" ng-click="invite_selected || addInvite(contact.email)">
                                        <i ng-if="!contact.is_contact" class="material-icons convs_avatar_small_right mi-person_add_small">&#xE7FE;</i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <!---->
        <!-- SEARCH -->
        <!---->
        <!---->
        <div class="content_conv_search contacts_transition" ng-class="{ 'content_conv_search_100': import_sel, 'content_conv_search_200': contacts_sel, 'content_conv_search_hide': contacts_sel_hide}">
            <div>
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container contacts_search_container">
                        <div class="convs_col_a">
                            <div class="contacts_search_header">SEARCH USERS</div>
                        </div>
                        <div>
                            <div class="contacts_search_input">
                                <input placeholder=" Type name..." id="search-query">
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="content_cnv_scroll">
                <div ng-repeat="search_result in search_results">
                    <div class="contacts_result_container" ng-class="{ 'contacts_result_container_on': search_result.is_contact}" ng-click="!search_result.is_contact || chat(search_result)">
                        <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                            <div class="convs_container">
                                <div class="convs_a">
                                    <img ng-if="search_result.avatar!='default'" alt="" ng-src="{{search_result.avatar}}" class="convs_avatar" />
                                    <img ng-if="search_result.avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="convs_avatar" />
                                </div>
                                <div class="convs_col_a">
                                    <div class="convs_b" id="convs_name">{{search_result.user_name}}</div>
                                    <div class="convs_d" id="convs_msg" ng-bind-html="search_result.latest_card"></div>
                                </div>
                                <div class="convs_col_b">
                                    <div class="search_add_user" ng-if="!search_result.is_contact" ng-click="addUser(search_result, $index, $event)">
                                        <i class="material-icons" id="mi-add_circle_outline">&#xE148;</i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <!---->
        <!-- CONTACTS -->
        <!---->
        <!---->
        <div class="content_cnv_top contacts_transition" ng-class="{ 'content_conv_100': import_sel, 'content_conv_200': search_sel, 'content_conv_hide': import_back}">
            <!---->
            <!-- CONTACTS GROUP -->
            <!---->
            <div class="contact_div" ng-class="{ 'contact_div_off': group_selected}" ng-click="group_selected || selectGroup()">
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container contacts_create_container contacts_transition" ng-class="{'contacts_create_container_on': group_selected}">
                        <div class="convs_a">
                            <img ng-if="avatar!='default'" alt="" class="convs_avatar_abs" ng-src="{{avatar}}" id="loaded_image" />
                            <i ng-if="avatar=='default'" class="material-icons convs_avatar_abs mi-group_add" id="" ng-class="{'mi-group_add_grey': group_selected}">&#xE7F0;</i>
                            <div class="done_camera " ng-class="{'done_camera_selected': group_selected}">
                                <i class="material-icons" id="mi-done_camera_bg">&#xE439;</i>
                                <i class="material-icons" id="mi-done_camera" ng-click="!group_selected || conversationImage($event)">&#xE439;</i>
                            </div>
                        </div>
                        <div class="convs_col_a">
                            <div class="contacts_create_header">NEW GROUP</div>
                        </div>
                        <div class="convs_col_b">
                            <div class="contacts_search_input">
                                <input placeholder=" Type name..." id="group_name" class="contacts_search_group" maxlength="20" ng-model="group_name">
                            </div>
                            <div class="header_decide transition_500" ng-class="{'header_decide_off': show_image}">
                                <div class="header_accept">
                                    <a href="" ng-click="!valid_group || createGroup($event,contact)"><i class="material-icons mi-done_group" ng-class="{'mi-done_group_on': valid_group}" id="">&#xE876;</i></a>
                                </div>
                                <div class="header_cancel">
                                    <a href="" ng-click="cancelGroup($event)"><i class="material-icons" id="mi-clear">&#xE14C;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <!---->
            <!-- CONVERSATION PROFILE IMAGE -->
            <!---->
            <div class="contact_div contact_div_image show_image_transition" ng-class="{'contact_div_image_show': show_image}">
                <div class="image_container" ng-class="{'image_container_show': image_drawer_opened}">
                    <div class="choose_icon">
                        <a hfref ng-click="triggerClick()"><i class="material-icons" id="mi-add-a-photo">&#xE439;</i></a>
                    </div>
                    <div class="avatar_choose">
                        <div class="header_decide_image">
                            <div class="header_accept">
                                <a href="" ng-click="!image_loaded || saveChanges()"><i class="material-icons mi-done_group" ng-class="{'mi-done_group_on': image_loaded}" >&#xE876;</i></a>
                            </div>
                            <div class="header_cancel">
                                <a href="" ng-click="conversationImage($event)"><i class="material-icons" id="mi-clear">&#xE14C;</i></a>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE -->
                    <div class="user_setting_image">
                        <div class="preview" ng-class="{'preview_show': image_loaded}"><img class="cropped_image" ng-src="{{myCroppedImage}}" /></div>
                        <div class="original" ng-class="{'original_hide': image_loaded}">
                            <img ng-if="avatar=='default'" alt="" ng-src="/assets/images/people.png" class="user_settings_avatar" />
                            <input type="file" id="fileInput" />
                        </div>
                    </div>
                    <div class="crop_container" ng-class="{'crop_container_show': image_loaded}">
                        <div class="cropArea" ng-class="{'cropArea_show': image_loaded}">
                            <img-crop class="imgcrop transition_100" ng-class="{'imgcrop_show': image_loaded}" image="myImage" result-image="myCroppedImage" result-image-format="image/jpeg" result-image-size="125" change-on-fly="true" on-load-done="imgcropLoaded();"></img-crop>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- SELECTED CONTACTS -->
            <!---->
            <div class="contact_div contact_div_selected_members transition_100" ng-class="{'contact_div_selected_members_selected': show_selected_drawer}">
                <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                    <div class="convs_container contacts_selected_container">
                        <div class="convs_a_selected">
                            <!---->
                            <!-- REPEAT SELECTED -->
                            <!---->
                            <div class="contact_select transition_500" ng-repeat="select in selected" ng-attr-id="{{ 'select_' + select._id }}">
                                <div class="contact_selected">
                                    <img ng-if="select.avatar!='default'" alt="" ng-src="{{select.avatar}}" class="convs_avatar_selected" />
                                    <img ng-if="select.avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="convs_avatar_selected" />
                                    <div class="done_contacts_added" ng-show="!select.is_admin">
                                        <i class="material-icons" id="mi-clear_contacts_bg">&#xE14C;</i>
                                        <i class="material-icons" id="mi-clear_contacts" ng-click="doSelect(select)">&#xE14C;</i>
                                    </div>
                                    <div class="contact_selected_name" ng-class="{'contact_selected_name_off': select.is_admin}">{{select.user_name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <!---->
            <!-- SCROLLABLE CONTACTS -->
            <!---->
            <div class="content_cnv_contacts_scroll" ng-class="{'content_cnv_contacts_scroll_group': show_selected_drawer, 'content_cnv_scroll_off': animating, 'content_cnv_scroll_input': group_selected}">
                <div ng-repeat="contact in contacts | orderBy:'user_name'">
                    <div class="contact_div" ng-class="{'contact_div_off': contact.is_admin}" ng-click="contactBtn(contact)">
                        <li class="list-group-item d-flex justify-content-between align-items-center convs_list">
                            <div class="convs_container">
                                <div class="convs_a">
                                    <img ng-if="contact.avatar!='default'" alt="" ng-src="{{contact.avatar}}" class="convs_avatar" />
                                    <img ng-if="contact.avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="convs_avatar" />
                                    <div class="done_contacts " ng-class="{'done_contacts_selected': contact.item_selected}">
                                        <i class="material-icons" id="mi-done_contacts_bg">&#xE876;</i>
                                        <i class="material-icons" id="mi-done_contacts">&#xE876;</i>
                                    </div>
                                </div>
                                <div class="convs_col_a">
                                    <div class="convs_b" id="convs_name">{{contact.user_name}}</div>
                                </div>
                                <div class="admin_container" ng-show="group_selected ? contact.is_admin : false">
                                    <div class="convs_b" id="convs_name"><span class="badge badge-secondary group-admin"> Group Admin </span></div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>