<div class="debugcards">
    <!-- CARDS TOP -->
    <div class="cards_top_container">
        <div class="card_temp" ng-repeat="card in removed_cards_top | orderBy :'updatedAt' : top_down " ng-attr-id="top_{{::card._id }}">
            <div class="resize-container" id="conversation_part">
                <!-- TITLE AREA -->
                <div class="title_area margins " ng-class="{ 'title_area_image': card.title_image, 'title_area_no_image': !card.title_image, 'title_area_animate' : card.animate_title}">
                    <div class='ce' ng-attr-contenteditable="true" ng-model="card.title_area"></div>
                    {{card._id}}
                </div>
                <div class="card_title margins" ng-show="card.title_image_text">{{card.title_image_text}}</div>
            </div>
        </div>
    </div>
    <!-- CARDS TEST  -->
    <div class="cards_cards_container">
        <div class="card_temp" ng-repeat="card in cards | orderBy :'updatedAt' : top_down " ng-attr-id="middle_{{::card._id }}">
            <div class="resize-container" id="conversation_part">
                <!-- TITLE AREA -->
                <div class="title_area margins " ng-class="{ 'title_area_image': card.title_image, 'title_area_no_image': !card.title_image, 'title_area_animate' : card.animate_title}">
                    <div class='ce' ng-attr-contenteditable="true" ng-model="card.title_area"></div>
                    {{card._id}}
                </div>
                <div class="card_title margins" ng-show="card.title_image_text">{{card.title_image_text}}</div>
            </div>
        </div>
    </div>
    <!-- CARDS BOTTOM  -->
    <div class="cards_bottom_container">
        <div class="card_temp" ng-repeat="card in removed_cards_bottom | orderBy :'updatedAt' : top_down " ng-attr-id="bottom_{{::card._id }}">
            <div class="resize-container" id="conversation_part">
                <!-- TITLE AREA -->
                <div class="title_area margins " ng-class="{ 'title_area_image': card.title_image, 'title_area_no_image': !card.title_image, 'title_area_animate' : card.animate_title}">
                    <div class='ce' ng-attr-contenteditable="true" ng-model="card.title_area"></div>
                    {{card._id}}
                </div>
                <div class="card_title margins" ng-show="card.title_image_text">{{card.title_image_text}}</div>
            </div>
        </div>
    </div>
</div>