<div ng-controller="debugCtrl">
    <div class="debug_btn">
        <a ng-click="changeDebug()">
            <div ng-show="!debug">
                <i class=" material-icons debug_icon">zoom_in</i>
            </div>
            <div ng-show="debug">
                <i class=" material-icons debug_icon">zoom_out</i>
            </div>
        </a>
    </div>
    <div ng-if="debug">
        <div class="debug">
            <div class="debug_left">
                <button ng-click="pause()">pause</button>
                <button ng-click="resume()">resume</button>
                <br>
                Loading cards: {{loading_cards}}<br>
                socket m: {{socket_m.connected}}<br>
                socket n: {{socket_n.connected}}<br>
                onlne: {{online}}<br>
                cards: {{cards_length}}<br>
                cards_temp: {{cards_temp_length}}<br>
                removed_cards_top: {{removed_cards_top_length}}<br>
                removed_cards_bottom: {{removed_cards_bottom_length}}
            </div>
        </div>
    </div>
</div>