<div class='image_editor'>
    <div class='image_edit_btns'>
        <div class='ti' onclick='testImage(event)'><i class='material-icons image_edit' id='ie_tune'>adjust</i></div>
        <div class='ai' onclick='adjustImage(event)'><i class='material-icons image_edit' id='ie_tune'>tune</i></div>
        <div class='fi' onclick='filterImage(event)'><i class='material-icons image_edit' id='ie_filter'>filter</i></div>
        <div class='ois' onclick='openImageSize(event)'><i class='material-icons image_edit' id='ie_crop'>crop_rotate</i></div>
        <div class='close_image_edit' onclick='closeImageEdit(event)'><i class='material-icons image_edit' id='ie_close'>&#xE14C;</i></div>
    </div>
</div>