<div ng-controller="headerCtrl">
    <div class="header">
        <div class="logo"><img src="/assets/images/bee_65.png"></div>
            <div class="header_text">Snipbee</div>
            <div class="user_right">
                <a href ng-click="changePath('/api/user_setting')">
                <img ng-if="avatar!='default'" alt="" class="heading_avatar" ng-src="{{avatar}}" />
                <img ng-if="avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="heading_avatar" />
            </a>
            </div>
        </div>
        <div class="header_bottom"></div>
    </div>
</div>