<div ng-controller="headerCtrl">
<div class="header">
    <div class="logo"><img src="/assets/images/bee_65.png"></div>
    <div class="header_text">Snipbee</div>
        <div class="username2">{{currentUserName}}</div>
    <div class="user">

    	        <div class="card_create_container" ng-if="isMember" ng-include src="'/views/card_create.html'"></div>

    	<img ng-if="avatar!='default'" alt="" class="heading_avatar" ng-src="{{avatar}}" />
        <i ng-if="avatar=='default'" class="material-icons" id="mi-account_circle">&#xE853;</i>
    </div>


</div>
<div class="header_bottom"></div>
</div>