<div ng-controller="headerCtrl">
    <div class="header">
        <a class="btn_zindex" href ng-click="changePath('/chat/conversations')">
            <div class="header_back">
                <i class="material-icons header-mi">&#xE5C4;</i>
            </div>
        </a>
        <div class="user">
            <img ng-if="avatar!='default'" alt="" class="heading_avatar" ng-src="{{avatar}}" />
            <img ng-if="avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="heading_avatar" />
        </div>
        <div class="header_conv_name">{{conversation_name}}</div>
        <div ng-if="true" class="edit">
            <div class="dropdown" ng-attr-id="{{ 'cem' + card._id }}">
                <div ng-click="dropDownToggle('cem'+card._id)" class="dropbtn">
                    <i class="material-icons" id="mi-more_vert">&#xE5D4;</i>
                </div>
                <div ng-attr-id="myDropdown{{ 'cem' + card._id }}" class="dropdown-content">
                    <div ng-click="changePathGroup()">Group Info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom"></div>
</div>