<div ng-controller="headerCtrl">
    <div class="header">
        <a class="btn_zindex" href ng-click="goBack()">
            <div class="header_back">
                <i class="material-icons header-mi">&#xE5C4;</i>
            </div>
        </a>
        <div class="user">
            <img ng-if="avatar!='default'" alt="" class="heading_avatar" ng-src="{{avatar}}" />
            <img ng-if="avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="heading_avatar" />
        </div>
        <div class="header_conv_name">EDIT PROFILE</div>
        <div class="header_decide">
            <div class="header_accept">
                <a href="" ng-click="!setting_change || saveChanges()"><i class="material-icons mi-done_group" ng-class="{'mi-done_group_on': setting_change}">&#xE876;</i></a>
            </div>
            <div class="header_cancel">
                <a href="" ng-click="cancelChanges()"><i class="material-icons" id="mi-clear">&#xE14C;</i></a>
            </div>
        </div>
    </div>
    <div class="header_bottom"></div>
</div>
</div>