<div ng-controller="headerCtrl">
    <div class="header">
        <div class="logo_container">
        <a href ng-click="changePath('/c/test')"><div class="logo"><img src="/assets/images/bee_65.png"></div></a></div>
        <div class="header_text">Snipbee</div>
        <div class="username2">{{conversation_name}}</div>
        <div class="user">
            <a href ng-click="changePath('/api/user_setting')">
                <div class="card_create_container" ng-if="isMember" ng-include src="'/views/card_create.html'"></div>
                <img ng-if="avatar!='default'" alt="" class="heading_avatar" ng-src="{{avatar}}" />
                <img ng-if="avatar=='default'" alt="" ng-src="/assets/images/default_avatar.jpg" class="heading_avatar" />
            </a>
        </div>
    </div>
    <div class="header_bottom"></div>
</div>